{% extends "auth_base.html" %}

{% block content %}
  <div class="w-full max-w-md rounded-md min-h-[500px] bg-[var(--bg2)] p-10">
    <div class="text-center mb-6">
      {% if Configs.ctf_logo %}
        <img src="{{ Configs.ctf_logo }}" height="64" alt="{{ Configs.ctf_name }}" class="mx-auto mb-3">
      {% endif %}
      <h1 class="text-2xl text-white">Reset Password</h1>
    </div>

    {% include "components/errors.html" %}

    {% if mode == "set" %}
      {% with form = Forms.auth.ResetPasswordForm() %}
        <form method="post" accept-charset="utf-8" role="form" class="space-y-5">
          <p class="text-slate-400 text-sm">
            You can now reset the password for your account and log in. Please enter in a new password below.
          </p>

          <div class="space-y-2">
            <label class="text-slate-400 text-sm required" for="password">{{ form.password.label.text }}</label>
            <input id="password" name="password" type="password" autocomplete="new-password" placeholder="Create a new password" class="bg-[var(--bg3)] block p-2 w-full rounded-md border border-[var(--border)] focus:ring-1 focus:ring-slate-400 focus:border-slate-400" required>
            <small class="text-xs text-slate-500">Enter a strong, new password</small>
          </div>

          {{ form.nonce() }}
          
          <div class="mt-5">
            <button
                class="
                    bg-[var(--green)] text-black text-sm block p-3 w-full rounded-md border-transparent
                    disabled:bg-[var(--bg3)] disabled:text-slate-400 disabled:cursor-not-allowed disabled:border disabled:opacity-50
                    peer-valid:bg-[var(--green)] peer-valid:text-black hover:shadow-2xl hover:shadow-[rgba(159,239,0,0.4)] disabled:shadow-transparent
                ">
                {{ form.submit(class="hidden") }}
                Reset password
            </button>
          </div>
        </form>
      {% endwith %}
    {% else %}
      {% with form = Forms.auth.ResetPasswordRequestForm() %}
        <form method="post" accept-charset="utf-8" autocomplete="off" role="form" class="space-y-5">
          <p class="text-slate-400 text-sm">
            Please provide the email address associated with your account below.
          </p>

          <div class="space-y-2">
            <label class="text-slate-400 text-sm required" for="email">{{ form.email.label.text }}</label>
            <input id="email" name="email" type="email" placeholder="Enter your email" class="bg-[var(--bg3)] block p-2 w-full rounded-md border border-[var(--border)] focus:ring-1 focus:ring-slate-400 focus:border-slate-400" required>
            <small class="text-xs text-slate-500">A password reset link will be sent here</small>
          </div>

          {{ form.nonce() }}

          <div class="mt-5">
            <button
                class="
                    bg-[var(--green)] text-black text-sm block p-3 w-full rounded-md border-transparent
                    disabled:bg-[var(--bg3)] disabled:text-slate-400 disabled:cursor-not-allowed disabled:border disabled:opacity-50
                    peer-valid:bg-[var(--green)] peer-valid:text-black hover:shadow-2xl hover:shadow-[rgba(159,239,0,0.4)] disabled:shadow-transparent
                ">
                {{ form.submit(class="hidden") }}
                Send reset link
            </button>
          </div>
        </form>
      {% endwith %}
    {% endif %}
    
    <p class="text-slate-400 text-sm mt-4 text-center">
      Remembered your password?
      <a href="{{ url_for('auth.login') }}" class="text-[var(--green)] hover:text-white transition-colors">Sign in</a>
    </p>
  </div>
{% endblock %}