{% extends "base.html" %}

{% block content %}
<div class="jumbotron mt-5 mb-4">
  <div class="container">
    <h1 class="text-xl font-semibold">{% trans %}Create Team{% endtrans %}</h1>
    <h1 class="text-sm text-slate-400">
      {% trans %}Start a new team{% endtrans %}
    </h1>
  </div>
</div>
  {% include "dashbox.html" %}
  <div class="container bg-[var(--bg2)] p-4 rounded border-slate-600">
    <div >
      <div class="w-full">
              <div>
                <h1 class="text-lg font-semibold mb-2">Create a team</h1>
              </div>
        {% include "components/errors.html" %}

        {% with form = Forms.teams.TeamRegisterForm() %}
          <form method="POST">
            <div class="mb-3">
              {{ form.name.label(class="form-label") }}
              {{ form.name(class="form-control") }}
            </div>
            <div class="mb-3">
              {{ form.password.label(class="form-label") }}
              {{ form.password(class="form-control") }}
            </div>

            <div class="row pt-3">
              <div class="col-md-12">
                <p class="text-sm text-slate-400">
                  After creating your team, share the team name and password with your teammates so they can join.
                </p>
                {{ form.submit(class="btn btn-success w-full float-end px-4") }}
              </div>
            </div>
            {{ form.nonce() }}
          </form>
        {% endwith %}
      </div>
    </div>
  </div>
{% endblock %}
